<p id="notice"><%= notice %></p>

<p>
  <strong>license type:</strong>
  <%= @dealer.license_id %>
</p>

<p>
  <strong>license name:</strong>
  <%= @dealer.license_name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @dealer.business_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @dealer.street %>
</p>

<p>
  <strong>State:</strong>
  <%= @dealer.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @dealer.zip_code %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @dealer.lat %>
</p>

<p>
  <strong>lng:</strong>
  <%= @dealer.lng %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
